/* static/css/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

h1, h2, h3, h4, h5, h6, p, strong, span, a, input, button, select {
  font-family: 'Exo 2', sans-serif;
}

input, button, select, div {
  font-size: 1rem;
}

@media (max-width: 375px) {
  .chat__container {
    width: 90%;
  }
  .chat__log {
    height: 300px;
  }
}

@media (min-width: 376px) {
  .chat__container {
    width: 90%;
  }
  .chat__log {
    height: 400px;
  }
}

@media (min-width: 480px) {
  .chat__container {
    width: 90%;
  }
  .chat__log {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .chat__container {
    width: 60%;
  }
  .chat__log {
    height: 500px;
  }
}

@media (min-width: 992px) {
  .chat__container {
    width: 50%;
  }
  .chat__log {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .chat__container {
    width: 40%;
  }
  .chat__log {
    height: 500px;
  }
}

.chat__container {
  margin: auto;
  text-align: center;
}

.chat__title {
  text-align: center;
  color: #e0e0e0;
}

.chat__subtitle {
  text-align: center;
  color: #b0b0b0;
}

.chat__log {
  border: 1px solid #444;
  padding: 10px;
  overflow-y: scroll;
  white-space: pre-wrap;
  background-color: #1e1e1e;
  background-image: url("/static/images/doggo_gpt_mini.jpg");
  background-size: cover; /* Ensure the image covers the entire area */
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  text-align: left; /* Ensure text is left-aligned */
  margin-bottom: 15px; /* Add margin to separate from input */
  position: relative; /* Required for the overlay */
}

.chat__log::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.chat__log p,
.chat__log hr,
.chat__log strong,
.chat__log span {
  position: relative; /* Ensure text is above the overlay */
  z-index: 2;
  color: #e0e0e0; /* Ensure all text within the chat-log is the same color */
}

.chat__message-box,
.chat__translation-direction {
  width: calc(100% - 0px); /* Adjusted for padding and border */
  height: 50px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px; /* Add margin to separate from button */
}

.chat__translation-direction {
  -webkit-appearance: none; /* Remove default styling on Webkit browsers */
  -moz-appearance: none; /* Remove default styling on Mozilla browsers */
  appearance: none; /* Remove default styling */
  cursor: pointer;
}

.chat__button {
  width: 100%;
  background-color: #444;
  color: #e0e0e0;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.chat__button:hover {
  background-color: #555;
  border-color: #666;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.chat__spinner {
  display: none; /* Hide the spinner by default */
  margin: 20px auto;
  filter: invert(1); /* Invert the colors of the SVG from black to white */
}

.chat__form-width {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* Styling for chat-log scrollbar for various web browser */

.chat__log::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

.chat__log::-webkit-scrollbar-track {
  background: #1e1e1e; /* Background color of the scrollbar track */
  border-radius: 5px; /* Add rounded corners */
}

.chat__log::-webkit-scrollbar-thumb {
  background-color: #444; /* Background color of the scrollbar thumb */
  border-radius: 5px; /* Add rounded corners */
  border: 2px solid #1e1e1e; /* Add border to create space around the thumb */
}

.chat__log::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
