<!--- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>DoggoGPT-Mini</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="chat__container">
        <h1 class="chat__title">DoggoGPT-Mini</h1>
        <h2 class="chat__subtitle">AI-Powered DoggoLingo Translation</h2>
        <div class="chat__log" id="chat-log"></div>
        <form id="chat-form">
            <select name="direction" class="chat__translation-direction" title="Select translation direction">
                <option value="eng_to_doggo">English to Doggo</option>
                <option value="doggo_to_eng">Doggo to English</option>
            </select>
            <input type="text" name="message" class="chat__message-box" placeholder="Enter your message..." title="Enter your message here">
            <button type="submit" class="chat__button" title="Click to submit message for translation">Translate Message</button>
        </form>
        <img src="{{ url_for('static', filename='images/bars-rotate-fade.svg') }}" class="chat__spinner" id="spinner" alt="Loading...">
    </div>
</body>
</html>
